#root {
  max-width: auto;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}


.container{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.logo-login {
  width: 25rem;

}

.titulo-login {
  font-weight: bold;
  
}

.navbar-nav{
  display: flex;
  flex-direction: row;
  gap: 3px;
}
